/* Mobile-first styles */
#content{
  background-color: #FFA356;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);
  border-radius: 50px;

}
body{
  background-color: #FF5656;
  margin: 0;
  padding: 0;
}
h1{
  background-color: #FFC756;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 1em;
  font-family: Jazz LET, fantasy;
  font-size: 24px;
  font-weight: bold;
}
form{
  display: flex;
  flex-direction: column;
  position: relative;
}
label{
  color: #333;
  margin-bottom: 5px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;
  font-family: Jazz LET, fantasy;

}
input[type="text"], input[type="email"], input[type="tel"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.2em;
  
}
input[type="submit"]{
  background-color: #FFC756;;

  color: #333;
  font-family: Jazz LET, fantasy;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
  position: relative;
  left: 50%;

}
input[type=submit]:hover{
  background-color: #45a049;
}
img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
 }
 
@media (min-width: 768px) {
  #content{
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }
  input[type="text"], input[type="email"], input[type="tel"]{
     width: 300px; /* Set a fixed width for desktop screens */
     font-size: 18px;
  }
  input[type="submit"]{
    font-size: 20px;
  }
}
@media(min-width:1024px){
  #content{
    margin:50px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
  }
  input[type="text"], input[type="email"], input[type="tel"]{
    width: 400px; /* Set a fixed width for desktop screens */
    font-size: 20px;
 }
  input[type="submit"]{
    font-size: 22px;
  }
}
@media(min-width:1280px){
  #content{
    margin:50px auto;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
 }
 input[type="text"], input[type="email"], input[type="tel"]{
    width: 500px; 
    font-size: 22px;
 }
 input[type="submit"]{
    font-size: 24px;
 }
}
  


 