/* Mobile-first styles */
#content{
  background-color: #FF8B00;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.1);

}
body{
  background-color: #E50045;
  margin: 0;
  padding: 0;
}
h1{
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
}
label{
  color: #333;
  margin-bottom: 5px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  align-items: flex-start;

}
input[type="text"], input[type="email"], input[type="tel"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.2em;
  
}
input[type="submit"]{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.2em;
  align-self: center;

}
input[type=submit]:hover{
  background-color: #45a049;
}
img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
 }
 
@media (max-width: 768px) {
  #content{
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
  }
  input[type="text"], input[type="email"], input[type="tel"]{
     width: 300px; /* Set a fixed width for desktop screens */
     font-size: 18px;
  }
  input[type="submit"]{
    font-size: 20px;
  }

 }